name: Serialization and RPC tests.

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  test-js:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run Integration Test
        uses: ./.github/actions/integration-test-action
        with:
          use-envoy: true
          target: JS
          test-action: jsTest

  test-jvm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run Integration Test
        uses: ./.github/actions/integration-test-action
        with:
          use-envoy: false
          target: JVM
          test-action: jvmTest

  test-native-non-apple:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run Integration Test
        uses: ./.github/actions/integration-test-action
        with:
          use-envoy: false
          target: NATIVE_OTHERS_TESTABLE
          test-action: othersTest

  test-native-apple:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run Integration Test
        uses: ./.github/actions/integration-test-action
        with:
          use-envoy: false
          target: NATIVE_APPLE
          test-action: appleTest
