on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        type: string

run-name: "${{ inputs.version }} Release"

jobs:
  release:
    name: Release
    runs-on: macos-latest
    timeout-minutes: 45
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Publish Core Release To Local Dir
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY_B64 }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
        run: ./gradlew :kmp-grpc-core:publishAllPublicationsToBuildDirRepository -Pio.github.timortel.kmp-grpc.internal.native.release=true

      - name: Build Core Release Zip
        run: |
          cd kmp-grpc-core/build/repos/releases
          zip kmp-grpc-core-${{ inputs.version }}.zip -r io
          mv kmp-grpc-core-${{ inputs.version }}.zip ../../../..

      - name: Upload Core Release
        id: upload_release
        env:
          TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
        run: |
          RESPONSE=$(curl POST \
          --verbose \
          --header "Authorization: Bearer $TOKEN" \
          --form bundle=@kmp-grpc-core-${{ inputs.version }}.zip \
          "https://central.sonatype.com/api/v1/publisher/upload?publishingType=USER_MANAGED&name=io.github.timortel%3Akmp-grpc-core%3A${{ inputs.version }}
          echo "deployment_id=$RESPONSE" >> "$GITHUB_OUTPUT"

      - name: Wait for deployment to be ready
        id: check_release
        timeout-minutes: 10
        env:
          TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          DEPLOYMENT_ID: ${{ steps.upload_release.outputs.deployment_id }}
        run: |
          while true; do
            RESPONSE=$(curl -X 'POST' \
            --verbose \
            --header "Authorization: Bearer $TOKEN" \
            "https://central.sonatype.com/api/v1/publisher/status?id=$DEPLOYMENT_ID")

          STATUS=$(echo "$RESPONSE" | jq -r '.deploymentState')

          echo "Current deployment state: $STATUS"

          if [ "$STATUS" = "VALIDATED" ]; then
            echo "status=VALIDATED" >> "$GITHUB_OUTPUT"
            break
          fi

          if [ "$STATUS" = "FAILED" ]; then
            echo "status=FAILED" >> "$GITHUB_OUTPUT"
            break
          fi

          sleep 5

          done

      - name: Drop failed deployment
        if: steps.check_release.outputs.status == 'FAILED'
        env:
          TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          DEPLOYMENT_ID: ${{ steps.upload_release.outputs.deployment_id }}
        run: |
          curl -X 'DELETE' \
          --verbose \
          --header "Authorization: Bearer $TOKEN" \
          "https://central.sonatype.com/api/v1/publisher/deployment/$DEPLOYMENT_ID"
          exit 1

      - name: Publish Gradle Plugin
        env:
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
        run: ./gradlew :kmp-grpc-plugin:publishPlugins

      - name: Publish Core Library
        env:
          TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          DEPLOYMENT_ID: ${{ steps.upload_release.outputs.deployment_id }}
        run: |
          curl -X 'POST' \
          --verbose \
          --header "Authorization: Bearer $TOKEN" \
          "https://central.sonatype.com/api/v1/publisher/deployment/$DEPLOYMENT_ID"
